/*responsive-begin */
@media only screen and (max-width: 850px) {
    .manage-resposive {
        display: block !important;
    }

    .list-group-item__edit {    
        width: 300px;
    }

    .account-detail__form {
        width: 660px !important;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 850px){
    .manage-order {
        width: 650px;
    }
    .manage-order table {
        width: 550px;
    }
}

@media only screen and (max-width: 500px){
    .manage-order {
        width: 300px;
    }
    .manage-order table {
        width: 300px;
    }
    .order-moble {
        display: none;
    }
    
}


@media only screen and (max-width: 600px){
    .manage-order {
        width: 500px;
    }
    .order-moble {
        display: none;
    }
    
}

/*responsive-end */

.account-detail__form {
    width: 100%;
    padding: 26px 15px;
    background-color:#fff;
}

.account {
    display: flex;
}

.account__img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}

.account__info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
    margin-top: 5px;
}

.account__info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    display: block;
    margin: 4px 0px 0px;
    margin-top: 5px;
}

.account-list-info {
   text-decoration: none;
   font-size: 14px;
   color: #333;
   width: 100%;
}

.account-list-info:hover {
    background-color: #d3d3d3;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.account-list-info__icon {
     color: #9b9b9b;
     margin-right: 10px;
}

/* Thông tin tài khoản */
.account-detail__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}

.account-form-edit label {
    font-size: 13px;
    margin: 6px 0;
}

.account-form-edit input {
    font-size: 14px;
    width: 80%;
    margin: 6px 0;

}

.account-form-edit legend {
    font-size: 13px;
    width: 100%;
}

.account-form-edit select {
    font-size: 14px;
}   

.account-form-edit a {
    font-size: 14px;
    margin-right: 5px;
}   

/* Đơn hàng của tôi */

.manage-order tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.manage-order th {
    min-width: 140px;
    padding-bottom: 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.manage-order td {
    font-size: 13px;
    line-height: 30px;
    color: rgb(51, 51, 51);
}

.list-group-item__edit { 
    background-color: #f0f0f0 !important;
    border-style: none !important;
}

.list-group-item__edit:hover {
    background-color: #d3d3d3 !important;
    color: rgb(0, 0, 0);
    text-decoration: none  !important;
}

.sex-account {
    display: inline;    
    /*width: 80px;*/
}

.sex-account input {
    display: inline;
    /*width: 80px;*/
    width: 30px;
}

.input-address__radio {
    height: 16px !important;
    width: 16px !important;
    position: absolute;
    right: 100px;
  
}
/* --- Bill detail start */

.bill-detail__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin: 20px 0px 15px;
    color: #111;
}

.bill-detail tfoot tr {
    text-align: right;
}

.bill-detail tbody tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.button-link {
    display: inline-block;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    /*border: 1px solid rgb(24, 158, 255);*/
    border: 1px solid #d70018;
    font-size: 12px;
    color: rgb(24, 158, 255);
    color: #333;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}

.button-link a {
    text-decoration: none;
    font-size: 12px;
}

.button-link a:hover {
    text-decoration: none;
    font-size: 12px;
}

.bill-detail .product-item span{
    width: 120px;
    height:120px;
    display: inline-block;
}

.bill-detail .product-item span img{
    width: 100%;
    height: 100%;
}

.bill-detail .product-item p {
    display: inline-block
}

.delete-address {
    position: absolute;
    right: 58px;
    display: inline-block;
}

.delete-address a:hover {
    text-decoration: none;
}


/* --- Bill detail end */
