*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.wishlist{
    background-color: #e9ecef;
}

.wishlist h1{
    text-align:center;
}

.wishlist-item_img{
    border-radius: 5px;
    border: 1px solid #ccc;
    width:80px;
    height:80px;
}

.wishlistRow-thumbnail{
    display: flex;
    align-items: center;
}

.wishlist-item_text{
    font-size: 14px;
    color: #333;
    font-weight: 700;
    margin-left: 5px;
}

.item{
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    min-height: 380px;
    line-height: 380px;
    background-color: orange;
}

@media only screen and (max-width: 768px) {
    .wishlistRow-title
    {
        display: none !important;
    }
    .wishlist-item_img{ 
        border: none;
    }
    .wishlistRow-buttons{
        margin-left: 0 !important;
    }
}